<li><p>{{name.official}}</p>
  <p>{{capital}}</p>
  <p>{{population}}</p>
  <p>{{flags.svg}}</p>
  <img width='200px' height='200px' href={{flags.svg}} />
  <svg width='200' height='200' href={{flags.svg}}>
  </svg>
  <p>{{languages}}</p></li>