<img class='list_img' src={{flags.svg}} />
<span class='list_title-solo'> {{name.official}}</span>
<p class='list_text-title'> Capital: <span class='list_text'>{{capital}}</span></p>
<p class='list_text-title'> Population: <span class='list_text'>{{population}}</span></p>
<p class='list_text-title'>Languages:{{#each languages}}
    <span class='list_text'>{{this}}</span>{{/each}}</p>